@{
    ViewBag.Title = "Login";
}
<div class="content" style="margin-top:5px;">

    @using (Html.BeginForm("SavePassword", "Account", FormMethod.Post))
    {
        <div class="row center-block" style="width:380px;height:400px;margin-top:150px;">
            <div class="card" style="background-color:darkcyan;border-radius:10px;">
                <div class="card-body">
                    <div style="background-color:white;">
                        <div class="card-header">
                            <label style="font-size:20px;">One Team Aptitude Portal</label>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <div class="form-group">
                                    <input id="TextPassword" name="txtPassword" type="text" placeholder="New Password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input id="TextPassword1" type="password" placeholder="Confirm new password!" class="form-control" />

                                </div>

                                <button type="button" onclick="Check()" class="btn btn-primary">Save</button>

                            </div>
                            <label id="MessageShowing" style="color:red;">

                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section scripts
{
    <script>

        function Check() {
            var pass1 = $("#TextPassword").val();

            var pass2 = $("#TextPassword1").val();
            if (pass1 == pass2) {
                $("form").submit();
            }
            else {

                document.getElementById('MessageShowing').innerHTML = "Password Not Match";
            }
        }
    </script>
    }























